li {
  list-style-type: none;
}

.order-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 30px 20px 15px;
}

.order-products .order-body {
  display: grid;
  grid-template-rows: 30px;
  margin-bottom: 20px;
}

.order-wait {
  background: #de19197a !important;
  color: #000000;
  font-weight: bolder;
}

.order-true {
  background: #009400a1 !important;
  color: #000000;
  font-weight: bolder;
}


.form-subcategory {
  background: #fff;
  border: 1px solid #cccccc;
  padding: 10px;
}

.form-subcategory form {
  display: grid;
  grid-template-columns: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

