li {
    list-style-type: none;
}
.order-products {
display: flex;
flex-direction: column;
padding: 20px 30px 20px 15px;
.order-body {
    display: grid;
    grid-template-rows: 30px;
    margin-bottom: 20px;

}
}
.order-wait {
    background:#de19197a !important;
    color: #000000;
    font-weight: bolder;
}
.order-true {
    background: #009400a1!important;
    color: #000000;
    font-weight: bolder;
}