.blogview-main {
    background: #fff;
    margin: 20px 0 20px 0;
    border:1px solid #cccccc;

}
.blog-view-main-recommend {
    margin: 20px 0 20px 0;
    background: #fff;
}
.blog-view-main-input  {
  background: #f2f2f2!important;
  height: 250px!important;
  resize: none;
  margin-bottom: 10px;
}
.blogview-breadcrumb {
    margin-top: 20px;
    opacity: 0.9;
 
}
.comments {
    overflow-x: auto;
    p {
        margin-top: 10px;
    }
}