.cart-view {
    margin-right: 25px;
}
.cart-link {
    text-align: left;
   
}
.cart-price {
    margin-right: 50px;
}
.cart-button {
    display: flex;
    justify-content: center;
    width: 400px;
}
.updateqty {
    width: 50px;
    height: 40px;
    text-align: center;
}
.cart-order {
    background: #fff;
    border: 1px solid #cccccc;
    padding: 10px;
    position: relative;
    top: 50px;
    border-radius: 10px;
  
    label {
        margin-top: 10px;
    }
    textarea {
        resize: none;
        height: 120px;
    }
}
.order-cart {
  
    background: #fff;
    position: relative;
    top: 50px;
    left: 10px;
    border: 1px solid #cccccc;
    border-radius: 10px;
  
    .order-cart-body {
        &:hover {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
        }
    }
}