.event-blog {
    background: #fff;
    float: left;
    margin-top: 50px;
    border: 1px solid #cccccc;
.event-prod {
    float: left;
    z-index: 1;
    display: grid;
    margin-top: 50px;
    text-align: -webkit-center;
    img {
    min-width: 193px;
    background-size: 100% 100%;
    min-height: 193px;
    }
    .event-mini-body  {
        display: grid;
        grid-template-rows: 140px;
    }
}
.action-event-price {
    display: grid;
    P {
        margin-bottom: 0px;
    }
    a {
        margin-bottom: 10px;
    }
}
}
.event-action {
    display: contents;
}