@import '../variables.scss';
body{
    background-color: #f1f1f1;}
.view-main {
display: flex;
flex-direction: row;
margin-top: 14px;
background: #fff;
padding: $padding-10;
border:$border-viewpages;

.view-main-images {
    position: relative;
    z-index:1;
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
}
.view-main-info {
   margin-left: 10px;
  
    .view-main-title{
        padding-bottom: 8px;
        font-size: 2rem;
        line-height: 1.1;
        color: #000;
    }
    .view-main-mini-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .view-main-mini-info-star {
        font-size: 20px;
        font-weight: lighter;
        a {
            color:#797878;
        }
    }
    .view-main-mini-info-attr{
        font-size: 20px;
        font-weight: 700;
    }
    .view-main-mini-info-brand{
        font-size: 20px
    };
}
.view-main-backet{
    margin-top: 15px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color: #fff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #2F2F2E;
 

    .view-main-backet-old-price{
        text-decoration:line-through;
        font-size: 20px;
        font-weight: inherit;

      
    }
    .view-main-backet-new-price {
        font-size: 20px;
        margin-left: 15px;
        margin-right: 15px;
        font-weight: 700;
    }
    .view-main-backet-card {
        cursor: pointer;
        color: #333;
        text-decoration: none;
        width: 160px;
        text-align: center;
        font-size: 20px;
        font-weight: 600px;
        background: #3EC761;
        text-shadow: 0 1px 0 #3EC761;
        border-radius: 3px;
        line-height: 43px;
        height: 44px;
     
        &:hover {
            background: #3EC761;
            background: linear-gradient(to bottom,#3EC761
            0,#52ad3a 100%);
        }
    }

}
.view-main-backet-all-count {
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    appearance: none; 
    margin: 0; 
    }
 .view-main-backet-numbers {
    border: $border-viewpages;
    border-left: medium none;
    border-right: medium none;
    display: inline;
    height: 38px;
    line-height: 38px;
    margin: 0 -5px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
 }
    .view-main-backet-numbers-count{
    position: relative;
    display: inline;
    height: 38px;
    width: 37px;
    margin: 0;
    vertical-align: middle;
    border: $border-viewpages;
    box-shadow: none;
    font-weight: 400;
    cursor: pointer;
    background: #fcfcfc;
    outline: none;
    &:hover {
        background: #e6e0e0;
    }
   
}
}
}
.view-main-description-info {
    margin-top: 30px;
    background: #FFF;
    padding: $padding-10;
    border: $border-viewpages;

}
