
body{
    background-color: #f1f1f1;}
.view-main {
margin-top: 14px;
background: #fff;
padding:10px;
border:1px solid #e1e2e3;
.view-main-images {
    z-index:1;
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
}
.view-main-info {
   margin-left: 10px;
  
    .view-main-title{
        padding-bottom: 8px;
        font-size: 2rem;
        line-height: 1.1;
        color: #000;
    }
    .view-main-mini-info-attr{
        font-size: 20px;
        font-weight: 700;
    }
    .view-main-mini-info-brand{
        font-size: 20px
    };
}
.view-main-backet{
    margin-top: 15px;
    padding: 10px;
    color: #fff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #2F2F2E;
 

    .view-main-backet-old-price{
        text-decoration:line-through;
        font-size: 20px;
        font-weight: inherit;

      
    }
    .view-main-backet-price {
        text-decoration: none;
        font-size: 20px;
        font-weight: inherit;
    }
    .view-main-backet-new-price {
        font-size: 20px;
        margin-left: 15px;
        margin-right: 15px;
        font-weight: 700;
    }
   

}
.view-main-backet-all-count {
   
 .view-main-backet-numbers {
    border: 1px solid #e1e2e3;
    border-left: medium none;
    border-right: medium none;
    height: 38px;
    line-height: 38px;
    margin: 0 -5px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    
 }
    .view-main-backet-numbers-count{
    position: relative;
    height: 38px;
    width: 37px;
    margin: 0;
    vertical-align: middle;
    border: 1px solid #e1e2e3;
    box-shadow: none;
    font-weight: 400;
    cursor: pointer;
    background: #fcfcfc;
    outline: none;
    &:hover {
        background: #e6e0e0;
    } 
}
}
.view-main-delivery{
    margin-top: 10px;
    p {
        font-family:'Roboto', sans-serif;
    }
}
}
.view-main-description-info {
    margin-top: 30px;
    background: #FFF;
    padding: 10px;
    border: 1px solid #e1e2e3;;
    margin-bottom: 30px;
 
}

.comments-view  {
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.view-main-cash {
    font-size: 20px;
}
