
@media screen and (min-width:320px){
    .footer--style{ 
        .container-footer{
            padding: inherit;
    .footer-link {
        h3 {
            margin-left: 20px;
            font-size: 12px;
            font-weight: 600;
        }
        .footer-div{
    font-size: 10px;
    margin: 6px 8px;
    padding: inherit;
        height: auto;
        min-width: 79px;


     } 
    }
}
    }
    .footer-info {
    
        div {
            margin-right: 5px;
            position: relative;
          
            right: 26px;
        }
        img {
            width: 25px;
    height: 25px;
        }
        span {
            font-size: 5px;
            position: relative;
            top: 5px;
        }
    }
    .main-category-img {
        display: none!important;
    }
    .carousel-main  {
        display: none!important;
    }
    .blog-action-main {
        overflow: hidden;
        padding: 2px;
    }
    .headers-nav {
        li {
            display: flex;
        }
    }
    .headers{  
        .headers-login-sign{
            font-size: 15px;
            position: relative;
            top: 5px;
            right: 20px;
        }
        .headers-search-input{
            margin-top: 95px;
            margin-left: -66px;
            .search-input {
                width: 250px;
            }
            .seach-autocomplete {
                width: 250px;
                a {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
            }
        .headers-phone {
            left: 222px;
            bottom: 88px;
    position: absolute;
            span {
                width: 112px;
                height: 25px;
            }
            font-size: 13px;
            i {
                font-size: 14px;
                padding: inherit;
            }
         }
     .headers-logo {
        margin-right: 0px;
     a {
        display: grid;
        grid-template-columns: 132px;
        font-size: 10px;
    }
    p {
        font-size: 10px;
    }
    img {
        width: 150px;
        height: 40px;
    }
   
}
}
.blog-main  {
    overflow: hidden;
    .blog-popular-main{ 
        padding: inherit;  
        height: 250px;
        img {
        width: 120px;
    height: 120px;
    background-size: 100% 100%;
        }
       
         
    div {
        flex-direction: column;
    margin-top: 50px;
    }
      p{
        display: none;
      }
        h4 {
            align-self: center;
            font-size: 14px;
            text-align: center;
        }
       
    
}
}
.container-recommend {
    .recommend-blog-main { 
        
        padding: inherit;
        img {
        width: 120px;
    height: 120px;
    background-size: 100% 100%;
        }
        .recommend-body {
            display: grid;
        
    grid-template-rows: 100px;
    grid-template-columns: 95px;
    overflow: hidden;
    padding: inherit;
    div {
        flex-direction: column;
    margin-top: 50px;
    }
      
        h5 {
            font-size: 12px;
            text-align: center;
        }
        p {
            font-size: 12px;
        }
       
    }
}
}
}
@media screen and (min-width: 375px)  { 
    .blog-main  {
        .blog-popular-main{ 
            height: 270px;
            padding: inherit;  
             display: grid;
             grid-template-rows: 136px;
             grid-template-columns: 100px;
            img {
            width: 120px;
        height: 120px;
        background-size: 100% 100%;
            }
           
             
        div {
            flex-direction: column;
        margin-top: 50px;
        }
          
            h4 {
                font-size: 14px;
                text-align: center;
            }
           
        
    }
    }
    .container-recommend {
        .recommend-blog-main { 
            
            padding: inherit;
            img {
            width: 120px;
        height: 120px;
        background-size: 100% 100%;
            }
            .recommend-body {
                display: grid;
            
        grid-template-rows: 100px;
        grid-template-columns: 106px;
        overflow: hidden;
        padding: inherit;
        div {
            flex-direction: column;
        margin-top: 50px;
        }
          
            h5 {
                font-size: 12px;
                text-align: center;
            }
            p {
                font-size: 12px;
                text-align: justify;
            }
           
        }
    }
    }
    .blog-action-main{
        overflow: hidden;
    .action-blog {
        margin-right: 5px;
    }
}
    .footer--style{ 
        .container-footer{
            padding: inherit;
    .footer-link {
        h3 {
            margin-left: 20px;
            font-size: 16px;
            font-weight: 600;
        }
        .footer-div{
    font-size: 12px;
    margin: 6px 8px;
    padding: inherit;
        height: auto;


     } 
    }
}
    }
    .footer-info {
    
        div {
            margin-right: 5px;
            position: relative;
          
            right: 26px;
        }
        img {
            width: 25px;
    height: 25px;
        }
        span {
            font-size: 7px;
            position: relative;
            top: 5px;
        }
    }
  .main-category-img {
      display: none!important;
  }
    .carousel-main {
      display: none!important;
  }

    .headers-nav {
        li {
    display: grid;
    grid-template-columns: 65px;
        }
    }
    .headers{  
        .headers-login-sign{
            font-size: 15px;
            position: relative;
            top: 5px;
            right: 20px;
        }
        .headers-search-input{
            margin-top: 95px;
            margin-left: -66px;
            .search-input {
                width: 250px;
            }
            .seach-autocomplete {
                width: 250px;
                a {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
            }
        .headers-phone {
            left: 222px;
            bottom: 88px;
    position: absolute;
            span {
                width: 140px;
            }
            font-size: 15px;
            i {
                font-size: 16px;
            }
         }
     .headers-logo {
        margin-right: 5px;
     a {
        display: grid;
        grid-template-columns: 132px;
        font-size: 10px;
    }
    p {
        font-size: 10px;
    }
    img {
        width: 150px;
        height: 40px;
    }
   
}
}
}
@media screen and (min-width:411px){
    .blog-main{
        .blog-popular-main {
            height: 300px;
            display: grid;
            grid-template-rows: 143px;
            grid-template-columns: 115px;
        }
    }
    .container-recommend {
        .recommend-blog-main { 
            
            padding: inherit;
            img {
            width: 120px;
        height: 120px;
        background-size: 100% 100%;
            }
            .recommend-body {
        display: grid;
        grid-template-rows: 85px;
        grid-template-columns: 122px;
        overflow: hidden;
        padding: inherit;
        div {
            flex-direction: column;
        margin-top: 50px;
        }
          
            h5 {
                font-size: 12px;
                text-align: center;
            }
            p {
                font-size: 12px;
                text-align: justify;
            }
           
        }
    }
    }
}
@media screen and (min-width: 414px)  { 
    .headers-nav {
        li {
    display: grid;
    grid-template-columns: 65px;
        }
    }
    .headers{  
        .headers-login-sign{
            font-size: 15px;
            position: relative;
            top: 5px;
            right: 20px;
        }
        .headers-search-input{
            margin-top: 95px;
            margin-left: -66px;
            .search-input {
                width: 250px;
            }
            .seach-autocomplete {
                width: 250px;
                a {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
            }
        .headers-phone {
            left: 222px;
            bottom: 88px;
    position: absolute;
            span {
                width: 140px;
            }
            font-size: 15px;
            i {
                font-size: 16px;
            }
         }
     .headers-logo {
        margin-right: 5px;
     a {
        display: grid;
        grid-template-columns: 132px;
        font-size: 10px;
    }
    p {
        font-size: 10px;
    }
    img {
        width: 150px;
        height: 40px;
    }
   
}
}
    .footer--style{ 
        .container-footer{
            padding: inherit;
    .footer-link {
        h3 {
            margin-left: 20px;
            font-size: 16px;
            font-weight: 600;
        }
        .footer-div{
    font-size: 12px;
    margin: 6px 8px;
    padding: inherit;
        height: auto;


     } 
    }
}
    }
    .footer-info {
    
        div {
            margin-right: 5px;
            position: relative;
          
            right: 26px;
        }
        img {
            width: 25px;
    height: 25px;
        }
        span {
            font-size: 7px;
            position: relative;
            top: 5px;
        }
    }
    .blog-main  {
        .blog-popular-main{ 
            padding: inherit;  
             display: grid;
             grid-template-rows: 136px;
             grid-template-columns: 115px;
            img {
            width: 120px;
        height: 120px;
        background-size: 100% 100%;
            }
           
             
        div {
            flex-direction: column;
        margin-top: 50px;
        }
          
            h4 {
                font-size: 14px;
                text-align: left;
            }
           
        
    }
    }
    .container-recommend {
        .recommend-blog-main { 
            
            padding: inherit;
            img {
            width: 120px;
        height: 120px;
        background-size: 100% 100%;
            }
            .recommend-body {
                display: grid;
            
        grid-template-rows: 100px;
        grid-template-columns: 126px;
        overflow: hidden;
        padding: inherit;
        div {
            flex-direction: column;
        margin-top: 50px;
        }
          
            h5 {
                font-size: 12px;
                text-align: left;
            }
            p {
                font-size: 12px;
                text-align: left;
            }
           
        }
    }
    }
.main-category {
    width: 413px;
    height: fit-content;
}
.main-category-img {
display: none!important;
}
.carousel-main {
    display: none!important;
}
.blog-action-main {
    overflow: hidden;
}
}
@media screen and (min-width:568px){
    .headers{ 
        .headers-phone {
            left: 222px;
    bottom: 68px;
    position: absolute;
    }
    .headers-login-sign {
        position: relative;
        top: -14px;
        right: 0px;
    }
}
.container-recommend{
   .recommend-blog-main{
       .recommend-body{
        display: grid;
        grid-template-rows: 100px;
        grid-template-columns: 178px;

        h5 {
            font-size: 14px;
        }
        p {
            font-size: 14px;
        }
       }
   }
 
}
.blog-main{
    .blog-popular-main
    {
     display: grid;
     grid-template-rows: 142px;
     grid-template-columns: 166px;

     h4 {
         text-align: center;
     }
    } 
} 
}
@media screen and (min-width:667px){
    .footer-info {
        img {
            width: 50px;
            height: 50px;
        }
        span {
            font-size: 10px;
        }
    }
    .blog-main {
    .blog-popular-main {
        display: grid;
        grid-template-rows: 144px;
        grid-template-columns: 158px;
    h4 {
        text-align: center;
    }
    }
}
.container-recommend {
    .recommend-blog-main { 
        
        padding: inherit;
        img {
        width: 120px;
    height: 120px;
    background-size: 100% 100%;
        }
        .recommend-body {
            display: grid;
        
    grid-template-rows: 100px;
    grid-template-columns: 165px;
    overflow: hidden;
    padding: inherit;
    div {
        flex-direction: column;
    margin-top: 50px;
    }
      
        h5 {
            font-size: 15px;
            text-align: justify;
        }
        p {
            font-size: 14px;
            text-align: left;
        }
       
    }
}
}
    .main-category {
        width: 600px;
    }
    .headers-nav{ 
        li{
            display: block;
        }
    }
    .headers{
        .headers-login-sign {
            top: -22px;

        }
        .headers-phone {
            left: 255px;
        }
        
    .headers-logo{
        a{
            font-size: 14px;
        }
        p{
            font-size: 15px;
        }
    } 
    .headers-search-input{
        .seach-autocomplete{
            width: 450px;
            left: -121px;
        }
        .search-input{
            width: 450px;
            margin-top: 20px;
            position: relative;
            right: 70px;
        }
    } 
    } 
}
@media screen and (min-width: 736px)   { 
    .blog-main {
    .blog-popular-main {
        display: grid;
        grid-template-rows: 192px;
        grid-template-columns: 158px;
        h4 {
            text-align: center;
        }
        img {
        height: 170px;
        width: 170px;
        background-size: 100% 100%;
        }
    }
}
    .main-category{
        width: 615px;
    }
    .container-recommend{
       .recommend-blog-main {
           padding: initial;
           img {
            width: 150px;
            height: 150px;
            background-size: 100% 100%;
           }
           .recommend-body {
            display: grid;
            grid-template-columns: 169px;
            grid-template-rows: 95px;
            h5 {
                text-align: left;
            }
            div {
                flex-direction: column;
            }
           }
       }
    } 
    .footer-info {
        span {
            font-size: 11px;
        }
        img {
            width: 50px;
            height: 50px;
            background-size: 100% 100%;
        }
    }
    .footer--style { 
        .container-footer{ 
            .footer-link {
                .footer-div {
                    padding: initial;
                    font-size: 12px;
                    height:auto;
                }
            }
            h3 {
                    margin-left:0!important;
                }
}

    }
    .action-body {
        display: grid;
        grid-template-rows: 125px;
    }
    .carousel-main {
        display: none;
    }
    .main-category-img {
        display: none!important;
    }
    .blog-action-main {
        overflow: hidden;
    }
    .headers {
        .headers-logo {
            p {
                font-size: 12px;
            }
        }
        .headers-phone {
            position: relative;
          left: 0px;
          font-size: 18px;
          bottom: 32px;
          span {
            width: 166px;
            position: relative;
       
            right: 50px;
        
          }
         i {
            font-size: 20px;
         }
        }
        .headers-login-sign {
             margin-left: 0px; 
             position: relative;
             bottom: 16px;
             top: auto;

        }
       
         .headers-search-input {
            margin-left: 0px; 
            .search-input{
            width: 450px;
            }
             .seach-autocomplete{
                width: 450px;
                left: -55px;
            }
         }
    .headers-logo {
        margin-left: 5px;
        margin-right: 0px;
        a{
        display: grid;
        
        font-size: 18px;
        grid-template-columns: 165px;
        }
    }
    }
}

@media screen and  (min-width: 768px)  { 
    .blog-action-main{
        padding: 5px;
       .action-blog {
           margin-right: 0px;
       }
    } 
    .main-category {
        width: 750px;
    }
    .container-recommend{
        .recommend-blog-main{
           
             .recommend-body{
                grid-template-columns: auto;
                h5 {
                font-size: 20px;
                padding: 5px;
                text-align: justify;
            }
            p {
                font-size: 18px;
            }
    }
}
}
 .blog-main{ 
     .blog-popular-main{
        height: 315px;
         h4 {
            font-size: 18px;
            text-align: center;
         }
        grid-template-rows: 195px;
        display: grid;
        grid-template-columns: 218px;
        margin-left: 0px;
     }
    }
.headers{ 
    .headers-logo{ 
        a {
            font-size: 20px
        }
        p{
            font-size: 18px;
        }
        img{
            width: 160px;
            height: 50px;
            margin-left: 12px;
    }
}
    .headers-search-input{ 
        margin-left: -40px;
        .seach-autocomplete {
            left: -95px;
            width: 400px;
        }
        .search-input{
            width: 400px;
        }
    }
    .headers-phone{ 
        position: relative;
        bottom: 20px;
        left: -80px;
    span{
        position: relative;
        bottom: 0px;

    }
    }
}
.headers-login-sign {
    position: absolute;
} 
.footer-info{
    div {
        align-items: center;
    }
    img {
        width: 50px;
        height: 50px;
    }
 span {
    font-size: 12px;
 }
} 

}
@media screen and (min-width: 812px) and (max-width: 375px) { 
.headers-nav {
    font-size: 12px;
    font-weight: bold;
    display: -webkit-box;
    padding-bottom: 15px;
    justify-content: space-around;
    li {
        margin-left: -25px;
        padding-left: 15px;
    }
   
 
    
}

.headers {
    .headers-phone{
     
    }
    .headers-logo {
        img {
            width: 150px;
    height: 50px;
  
        }
         a {
        
    }
        margin-left: 5px;
        .headers-logo-phone {
    

        }
    }
.headers-search-input {
   
    .search-input {
        width: 250px;
        position: relative;
        right: 38px;
      
    
    }
}
}
.seach-autocomplete {
    width: 250px;
    position: relative;
    right: 38px;
    }
.main-category  {
    display: none;
}
.footer-info {
    padding: 5px 0px 20px 0px;
    div {
        padding-left: 2px;
        
    }
    img {
    width: 25px;
    height: 25px;
    position: relative;
    top: 5px;

    }
    span {
        font-size: 7px;
        text-align: left;
    }
}
.footer--style {
    .container-footer {
    .footer-link {
        position: relative;
        right: 20px;
        h3 {
            font-size: 18px;
           
           
        }
        .footer-div {
        margin-top: 5px;
        padding: inherit;
        height: auto;
        font-size: 12px;

    }
    a {
        font-size: 10px;
    }
    } 
   
}
}

}

@media screen and  (min-width: 1024px)  { 
    .blog-action-main {
        .action-blog{
            margin-right: 0px;
        }
    }
    .main-category-img {
        display: flex!important
    }
    .main-category {
        height: auto;
        width: 250px;
    }
    .carousel-main {
        display: initial!important;
    }

    .footer-link {
        text-align: left!important;
    h3 {
        font-size: 15px;
    }
        a{
        font-size: 12px;
        }
    
}
    .footer-info {
    span {
        font-size: 10px;
    }
}    
.blog-main {
        .carousel-recommend{
        .blog-popular-main {
            height: 350px;
            display: flex;
    flex-direction: column;
            img {
                width: 360px;
                height: 220px;
                background: 100% 100%;
            }
        }
    }
    }
    .container-recommend {
.recommend-blog-main {
    padding: 10px;
    img {
        width: 210px;
        height: 220px;
        background: 100% 100%;
        
    }
    .recommend-body {
        h5 {
            font-size: 20px;
            text-align: justify;
        }

        display: flex;
        flex-direction: column;
   
    a {
        text-align: justify;
    }
    p {
        font-size: 20px;
    }
    }
}
    }
    
    .headers{
        .headers-login-sign{
            position: relative;
        top: 12px;
        font-size: 15px;
        }
        .headers-phone {
            position: relative;
            left: -100px;
            bottom: 0px;
            top: 12px;
            i {
                font-size: 18px;
            }
            span {
                font-size: 17px;
                bottom: 40px;
            
        }
        }
        }

    .headers-logo {
    .headers-logo-phone{
        font-size: 15px;
        
p{
    font-size: 15px;
}
    
}
}
    .headers{
        .headers-search-input {
            margin-top:0px;

            .seach-autocomplete{
                bottom: -56px;
                left: -86px;
                border-top: none;
                width: 400px;
               a {
                font-size: 14px;
               }
                }
        .search-input {
            width: 400px;
            position: relative;
            right: 35px;
            top:15px;
            
        }
        }
        }

}
@media screen and (min-width: 1366px )  { 
    .headers{
    .headers-login-sign {
        font-size: 21px;
    }
}
    .main-category {
        height: auto;
    }
    .carousel-main {
        display: initial!important;
    }
    .headers {
    .headers-logo{ 
        img{
            width: 200px;
            height: 65px;
        }
        a {
            font-size: 18px;
            display: block;
        }
        p {
            font-size: 18px;
        }
    }
}
    .blog-main{
        .carousel-recommend{
            .blog-popular-main{
                height: 400px;

                display: grid;
                grid-template-rows: 240px;
                grid-template-columns: 358px;
                img{
                    width: 360px;
                    height: 220px;
                    background: 100% 100%;
                }
                h4{
                    font-size: 24px;
                    text-align: center;
                }
            }
        }  
    } 
    .headers-nav{
        li {
        display: grid;
        grid-template-columns: auto;
        font-size: 15px;
        }
    }
    .container-recommend{
        .recommend-blog-main{
            padding: 30px;
             .recommend-body {
                display: grid;
                grid-template-columns: 220px;
                grid-template-rows: 115px;
                align-self: center;
                h5 {
                    font-size: 18px;
                }
                p {
                    font-size: 17px;
                }
            }

    }
} 
.blog-action-main {
    padding: 5px;
    .action-blog{
        margin-right: 0px;
    }
.action-body {    
display: grid;
grid-template-rows: 120px; 
}
    

}
#headers-search{
.headers-search-input {
    margin-top: 0px;
    .seach-autocomplete{
       
        left: auto;
        border-top: none;
        width: 500px;
       a {
        font-size: 14px;
       }
        }
.search-input {
    width: 500px;
    position: relative;
    top: auto;
    right: auto;
    
}
}
}
.headers{
 
.headers-phone {
    position: static;
    margin-top: 0px;
    i {
        font-size: 21px;
    }
    span {
        font-size: 20px;
        position: static;
        width: 180px;
    
}
}
}
.footer-info{ 
    div {
        align-items: center;
    }
    img {
        width: 50px;
        height: 50px;
    }
    span{
        font-size: 14px;
        position:initial;
    }
}
.footer-link {
    
h3 {
    font-size: 22px!important;
    

}


    a{
    font-size: 16px;
    }

}
}

 
   
 
     