$color-green:#52ad3a;
$font-roboto:'Roboto', sans-serif;
$bottom-grey:1px solid #ccc;
$border-viewpages: 1px solid #e1e2e3;
$link:#4F7596;
$active-link:#E45757;
$padding-10:10px 10px 10px 10px;
$padding-20:20px 20px 20px 20px;