.blog {
  background: #fff;
  padding: 10px 30px 0 30px;
  margin: 20px 0  20px 0;
  border: 1px solid #cccccc;
}

.blog-main {
  margin: 15px 0 30px 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background: #f9fdff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), to(#eee));
  background: -webkit-linear-gradient(top, #fff 0, #eee 100%);
  background: -o-linear-gradient(top, #fff 0, #eee 100%);
  background: linear-gradient(to bottom, #fff 0, #eee 100%);
}

.blog-main .blog-main-images {
  width: 150px;
  height: 150px;
  margin: 5px 0 0 5px;
}

.blog-main .blog-main-date {
  margin-top: 5px;
  font-size: 17px;
  font-weight: 300;
  font-variant-numeric: tabular-nums;
}

.blog-main .blog-main-info {
  margin-left: 15px;
}

.blog-main .blog-main-info p {
  margin-right: 15px;
}

.category .active a {
  color: #4285f4 !important;
  font-weight: 800;
}

