.event-blog {
  background: #fff;
  float: left;
  margin-top: 50px;
  border: 1px solid #cccccc;
}

.event-blog .event-prod {
  float: left;
  z-index: 1;
  display: grid;
  margin-top: 50px;
  text-align: -webkit-center;
}

.event-blog .event-prod img {
  min-width: 193px;
  background-size: 100% 100%;
  min-height: 193px;
}

.event-blog .event-prod .event-mini-body {
  display: grid;
  grid-template-rows: 140px;
}

.event-blog .action-event-price {
  display: grid;
}

.event-blog .action-event-price P {
  margin-bottom: 0px;
}

.event-blog .action-event-price a {
  margin-bottom: 10px;
}

.event-action {
  display: contents;
}

