.event-blog {
  background: #fff;
  float: left;
  margin-top: 50px;
  border: 1px solid #cccccc;
  margin-bottom: 30px;
}

.event-blog .event-prod {
  float: left;
  margin: 0 0 5px 0;
  z-index: 1;
  display: grid;
  margin-top: 50px;
  text-align: -webkit-center;
}

.event-blog .event-prod .event-mini-body {
  display: grid;
}

.event-blog .action-event-price {
  display: grid;
}

.event-blog .action-event-price P {
  margin-bottom: 0px;
}

.event-blog .action-event-price a {
  margin-bottom: 10px;
}

