.footer--style {
  background: #272727;
  color: #efefef;
  font-size: 12px;
  border-top: 4px solid #52ad3a;
}

.footer--style .container-footer {
  padding-top: 15px;
}

.footer--style .container-footer .footer-link .footer-div {
  padding: 0 16px;
  border-radius: 28px;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  margin: 6px 8px;
  min-width: 88px;
  outline: 0;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
  color: #c8cece;
}

.footer--style .container-footer .footer-link a {
  z-index: 1;
  color: #c8cece;
  text-decoration: none;
}

.footer--style .container-footer .footer-link a:hover {
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  color: #fff;
}

.footer--style .container-footer .footer-link h3 {
  margin-left: 20px;
}

.footer--style .footer-f-r {
  color: #52ad3a;
  font-size: 24px;
  -webkit-font-kerning: none;
          font-kerning: none;
  font-weight: unset;
  font-variant: all-petite-caps;
  padding-bottom: 5px;
}

.footer-info {
  background: #fff;
  text-transform: uppercase;
  line-height: 1.7;
  font-weight: 700;
  letter-spacing: .1rem;
  margin-top: 300px;
  clear: both;
  padding: 20px 20px 20px;
}

.footer-info div {
  margin-top: 5px;
}

.footer-info span {
  position: relative;
  top: 10px;
  font-size: 14px;
  margin-left: 10px;
}

