* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.headers {
  background: #262626;
  border-bottom: 4px solid #52ad3a;
  padding: 10px 0 10px 0;
}

.headers .headers-logo {
  margin-right: 30px;
  font-size: 50px;
}

.headers .headers-logo p {
  font-size: 20px;
  color: #fff;
}

.headers .headers-logo a {
  color: #fff;
  font-size: 20px;
}

.headers .headers-phone {
  position: relative;
  left: 90px;
  font-size: 25px;
  color: #fff;
}

.headers .headers-phone i {
  color: #52ad3a;
  font-size: 25px;
  padding: 0 5px 0 5px;
}

.headers .headers-login-sign {
  margin-left: 30px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.headers .headers-login-sign a {
  color: #fff;
}

.headers .headers-login-sign span {
  display: inline-block;
  min-width: 30px;
  border-radius: 10px;
  margin-left: 5px;
}

.headers .headers-search-input input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 600px;
  height: 30px;
  padding: 0 36px 0 12px;
  background: #fff;
  font-size: 14px;
  border-radius: 4px;
  color: #000;
  outline: none;
}

.headers-nav {
  background: #2F2F2F;
  padding: 7px 0;
  margin: 0 auto;
  min-height: 20px;
  font-size: 12px;
  line-height: 1.5;
  color: #f8f8f8;
}

.headers-nav a {
  color: #ada2a2;
  margin-left: 15px;
}

.headers-nav a:hover {
  color: #fff;
}

