.card {
  margin-bottom: 30px;
}

.card .card-title {
  min-height: 130px;
}

.card .card-text {
  height: 50px;
}

.card strong {
  font-size: 14px;
  width: 122px;
}

.reccommend-container {
  clear: left;
}

.recommend-blog {
  padding: 5px;
  margin-top: 60px;
}

.blog-action {
  margin-top: 30px;
  background: #fff;
  padding: 30px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
}

.blog-action h4 {
  display: grid;
  text-align: -webkit-center;
}

.blog-action p {
  margin-bottom: 0px;
}

.blog-action .action-blog {
  margin-right: 10px;
  margin-left: -6px;
}

.price-new {
  text-decoration: line-through;
}

.blog-prod {
  float: left;
  width: 33%;
  height: 470px;
  margin: 0 0 5px 0;
  z-index: 1;
  display: grid;
  text-align: -webkit-center;
}

.sort-search {
  margin-top: 20px;
  background: #fff;
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 18px;
  font-weight: initial;
}

.filter {
  float: left;
  background: #fff;
  border: 1px solid #e1e2e3;
  border-radius: 10px;
  margin-top: 50px;
  text-align: center;
  height: 900px;
  padding: 20px;
  position: relative;
  left: 30px;
  width: 200px;
}

.filter .filter-container {
  margin-left: 25px;
}

.filter .filter-container .filter-form-control {
  display: grid;
  text-align: -webkit-left;
}

.filter .filter-container .filter-form-control label {
  font-size: 15px;
  color: #c8cece;
}

.filter .filter-container .filter-form-control label:hover {
  color: #fff;
}

.filter .filter-container .filter-form-control label input {
  width: 25px;
  height: 25px;
  position: relative;
  right: 5px;
}

.filter .filter-container .filter-form-control a {
  font-size: 18px;
}

