.search-blog {
  background: #fff;
  float: left;
  margin-top: 50px;
  border: 1px solid #cccccc;
}

.search-blog .search-prod {
  float: left;
  z-index: 1;
  display: grid;
  margin-top: 50px;
  text-align: -webkit-center;
}

.search-blog .search-prod img {
  min-width: 270px;
  background-size: 100% 100%;
  min-height: 270px;
}

.search-blog .search-prod .search-mini-body {
  display: grid;
  grid-template-rows: 140px;
}

.search-blog .search-event-price {
  display: grid;
  grid-template-rows: 60px;
}

.search-blog .search-event-price P {
  margin-bottom: 0px;
}

.search-blog .search-event-price a {
  margin-bottom: 10px;
}

.card {
  margin-bottom: 30px;
}

.card .card-title {
  min-height: 130px;
}

.card .card-text {
  height: 50px;
}

.card strong {
  font-size: 14px;
  width: 122px;
}

.reccommend-container {
  clear: left;
  display: contents;
}

.reccommend-container .recommend-blog {
  padding: 5px;
  background: #fff;
  border: 1px solid #cccccc;
}

.reccommend-container .recommend-blog .recommend-main-blog {
  margin: 60px 5px 0 5px;
}

.blog-action {
  margin: 30px 0 20px 0;
  background: #fff;
  padding: 30px;
  border: 1px solid #cccccc;
}

.blog-action h4 {
  display: grid;
  text-align: -webkit-center;
}

.blog-action p {
  margin-bottom: 0px;
}

.blog-action .action-blog {
  margin-right: 10px;
  margin-left: -6px;
}

.price-new {
  text-decoration: line-through;
}

.blog-prod {
  float: left;
  width: 33%;
  height: 470px;
  margin: 0 0 5px 0;
  z-index: 1;
  display: grid;
  text-align: -webkit-center;
}

.sort-search {
  margin-top: 20px;
  background: #fff;
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 18px;
  font-weight: initial;
}

.new-blog {
  display: grid;
  background: #fff;
  padding: 10px;
}

.new-blog .new-blog-body {
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 220px;
}

.popular-container {
  border: 1px solid #cccccc;
  background: #fff;
}

.popular-container .popular-blog {
  padding: 10px;
}

.popular-container .popular-blog .popular-blog-body {
  margin-top: 60px;
}

