body {
  background-color: #f1f1f1;
}

.view-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 14px;
  background: #fff;
  padding: 10px 10px 10px 10px;
  border: 1px solid #e1e2e3;
}

.view-main .view-main-images {
  position: relative;
  z-index: 1;
  width: 250px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
}

.view-main .view-main-info {
  margin-left: 10px;
}

.view-main .view-main-info .view-main-title {
  padding-bottom: 8px;
  font-size: 2rem;
  line-height: 1.1;
  color: #000;
}

.view-main .view-main-info .view-main-mini-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.view-main .view-main-info .view-main-mini-info-star {
  font-size: 20px;
  font-weight: lighter;
}

.view-main .view-main-info .view-main-mini-info-star a {
  color: #797878;
}

.view-main .view-main-info .view-main-mini-info-attr {
  font-size: 20px;
  font-weight: 700;
}

.view-main .view-main-info .view-main-mini-info-brand {
  font-size: 20px;
}

.view-main .view-main-backet {
  margin-top: 15px;
  padding: 10px 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #2F2F2E;
}

.view-main .view-main-backet .view-main-backet-old-price {
  text-decoration: line-through;
  font-size: 20px;
  font-weight: inherit;
}

.view-main .view-main-backet .view-main-backet-new-price {
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 700;
}

.view-main .view-main-backet .view-main-backet-card {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  width: 160px;
  text-align: center;
  font-size: 20px;
  font-weight: 600px;
  background: #3EC761;
  text-shadow: 0 1px 0 #3EC761;
  border-radius: 3px;
  line-height: 43px;
  height: 44px;
}

.view-main .view-main-backet .view-main-backet-card:hover {
  background: #3EC761;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3EC761), to(#52ad3a));
  background: -webkit-linear-gradient(top, #3EC761 0, #52ad3a 100%);
  background: -o-linear-gradient(top, #3EC761 0, #52ad3a 100%);
  background: linear-gradient(to bottom, #3EC761 0, #52ad3a 100%);
}

.view-main .view-main-backet-all-count input[type=number]::-webkit-inner-spin-button,
.view-main .view-main-backet-all-count input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.view-main .view-main-backet-all-count .view-main-backet-numbers {
  border: 1px solid #e1e2e3;
  border-left: medium none;
  border-right: medium none;
  display: inline;
  height: 38px;
  line-height: 38px;
  margin: 0 -5px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.view-main .view-main-backet-all-count .view-main-backet-numbers-count {
  position: relative;
  display: inline;
  height: 38px;
  width: 37px;
  margin: 0;
  vertical-align: middle;
  border: 1px solid #e1e2e3;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 400;
  cursor: pointer;
  background: #fcfcfc;
  outline: none;
}

.view-main .view-main-backet-all-count .view-main-backet-numbers-count:hover {
  background: #e6e0e0;
}

.view-main .view-main-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.view-main .view-main-delivery p {
  font-family: "Roboto", sans-serif;
}

.view-main-description-info {
  margin-top: 30px;
  background: #FFF;
  padding: 10px 10px 10px 10px;
  border: 1px solid #e1e2e3;
}

.view-main-description-info p {
  font-family: "Roboto", sans-serif;
}

